body {
    background-image: url('imagem/casa.jpg'); /* Corrija o caminho */
    background-size: cover; /* Faz com que a imagem cubra o elemento */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-position: center; /* Centraliza a imagem */
}
